/* font formatting */
body {
  background-color: #FBF7F9;
  color: #0D4254;
}

h4 {
  font-family: 'Geneva';
}
h6 {
  font-family: 'Arial';
  font-weight: bold;
}

p {
  font-family: 'Arial';
}

u {
  font-family: 'Arial';
  font-weight: bold;
}
ul {
  font-family: 'Arial';
}

/* navigation panel */
.navbar-default {
  background-color: #0D4254;
  font-family: 'Impact';
  color: #FBF7F9;
}

/*
.navbar-nav li a {
  background-color: #bcbec4;
  font-family: 'Geneva';
  color: Navy;
}
.section.sidebar form p:first-child {
  margin-top: 10px;
}
*/


/* Adjusts background of the dropdown menu, but behind the specs in navbar-default
.dropdown-menu {
  background-color: black;
  font-family: 'Geneva';
  color: white;
}
*/

/*
.navbar-header {
  font-family: 'Trebuchet MS';
  color: white;
  font-size: 200%;
}
*/

/* boxes housing the plots */
.box-header {
  font-family: 'Geneva';
  text-shadow: .5px .5px #ACACAC;
  color: #935870;
}

.main-sidebar {
  background-color: #8BBBB2;
}
